@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100vw;
}

header, main, footer {
    max-width: 800px;
    margin: auto;
}

:root {
    --azul-claro: rgba(0, 242, 210, 0.78);
    --amarelo: rgba(251, 238, 0, 0.561);
    --azul: rgba(70, 92, 140, 0.941) ;
}

header {
    padding-top: 20px;
    padding-bottom: 5px;
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.21);
    font-size: medium;
    background-image: linear-gradient(to right, var(--azul-claro), rgb(1, 112, 149));
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    color: rgba(0, 0, 0, 0.817);
}

main p {
    text-indent: 20px;
    margin: 10px 0px;
    font-size: 20px;
    text-align: justify;
}

section {
    background-color: var(--azul);
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 25px;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.23);
    font-size: larger;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.22);
}

h2 {
    text-align: center;
}

h1 {
    margin-bottom: 10px;
    margin-top: 20px;
    order: 1;
}

section:hover {
    transform: scale(1.04);
    transition: .3s;
}

footer {
    background-color:var(--amarelo);
    padding: 10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.22);
    padding-bottom: 50px;
    padding-top: 20px;
    font-size: 20px;
}

div#tel {
    background-color: rgba(255, 162, 0, 0.48);
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}

div#tel p {
    background-color: white;
    border-radius: 4px;
    padding: 4px;
    width: calc(100vw - 62px);
}
    
h3 {
    margin-bottom: 10px;
}

div#tel i {
    margin-right: 5px;
}

header > div#logo {
    order: 0;
    height: 100px;
    width: 100px;
    background-image: url('../assets/logo.png');
    border-radius: 50%;
    background-position: center center;
    background-attachment: contain;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.21);
}

header p {
    order: 3;
}

div#logo:hover {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.288);
    transform: scale(1.05);
    transition: .3s;
}

nav {
    order: 4;
    margin-top: 30px;
    align-self: flex-start;
    padding: 15px 0px 10px 10px;
}

nav a {
    padding: 7px;
    margin-right: 3px;
    background-color: rgba(0, 166, 144, 0.665);
    border-radius: 10px;
    color: white;
    text-decoration: none;
}

nav a:hover {
    background-color: rgba(0, 207, 179, 0.758);
    transform: scale(1.02);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.26);
}

footer a {
    width: calc(100vw - 62px);
    padding: 1px;
    background-color: white;
    border-radius: 4px;
    text-decoration: none;
}

footer a:hover {
    transform: scale(1.02);
    text-decoration: underline;
}

main {
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #eee;
}

/* Configurando as imagens*/

div.foto {
    margin: auto;
    border: 1px solid black;
    height: 35vh;
    width: 70vw;
    border-radius: 5px;
    max-width: 750px;
    background-color: whitesmoke;
}

div#bar3 {
    background-image: url('../assets/bar3.jpg');
    background-repeat: no-repeat;
    background-attachment: contain;
    background-position: center center;
}

div#agua1 {
    width: 75vw;
    background-image: url('../assets/agua1.jpg');
    background-repeat: no-repeat;
    background-attachment: contain;
    background-position: center center;
}

div#bar1 {
    background-image: url('../assets/bar1.jpg');
    background-repeat: no-repeat;
    background-attachment: contain;
    background-position: center center;
}

div#bar2 {
    background-image: url('../assets/bar2.jpg');
    background-repeat: no-repeat;
    background-attachment: contain;
    background-position: center center;
}

div#bar4 {
    background-image: url('../assets/bar4.jpg');
    background-repeat: no-repeat;
    background-attachment: contain;
    background-position: center center;
}

div#bar5 {
    background-image: url('../assets/bar5.jpg');
    background-repeat: no-repeat;
    background-attachment: contain;
    background-position: center center;
}

div#bar6 {
    background-image: url('../assets/bar6.jpg');
    background-repeat: no-repeat;
    background-attachment: contain;
    background-position: center center;
}

p.local {
    text-align: center;
    background-color: rgba(60, 79, 120, 0.941);
    border-radius: 10px;
    padding: 4px;
}

p.local:hover  {
    background-color: rgba(87, 116, 177, 0.941);
}

section a {
    color: white;
    text-decoration: none;
}

section a:hover {
    text-decoration: underline;
}

#alerta {
    background-color: rgba(255, 191, 0, 0.938);
    border-radius: 10px;
    
}